<!doctype html>
<html lang="{{ site.LanguageCode | default "en" }}" class="{{ if (eq .Site.Params.defaultTheme "light") }}light{{ else if (eq .Site.Params.defaultTheme "dark") }}dark{{ end }} h-full">
  {{- partial "mapael_head.html" . -}}
  <body class="flex min-h-full flex-col bg-white text-neutral-900 antialiased dark:bg-black dark:text-neutral-100">
    {{- partial "site_header.html" . -}}
    <main class="mx-auto w-full max-w-screen-3xl grow">

        <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
          <h2 class="text-3xl font-semibold md:text-4xl">Other photos</h2>
            
          <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">
            <a style="color:cornflowerblue" href="picture_a_week">Picture a Week</a>  | 
            <a style="color:cornflowerblue" href="aircraft">Aircraft</a>
          </p>
        </div>
        <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
            <h2 class="text-3xl font-semibold md:text-4xl">Travel photography</h2>
            
              <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">Can&#39;t say I travelled much. But I lived in 3 countries, visited some others for business or pleasure and I always carry a camera, so I gathered a small collection of travel photos.</p>
            
          </div>
        
          
          <div id="map-container"> 
            <div class="map">
            alternative content 
            </div>
          </div>

    </main>
    {{- partial "site_footer.html" . -}}
  </body>
</html>